.about-us {
  position: relative;
  padding: 29.5px 30px 51px;
  font-family: "Open Sans", "Arial", sans-serif;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    height: 6px;
    background-image: url("../img/background/snake-gray-mobile.svg");
    background-repeat: repeat-x;

    @media (min-width: @tablet-width) {
      height: 17px;
      background-image: url("../img/background/snake-gray-tablet.svg");
    }

    @media (min-width: @desktop-width) {
      height: 23px;
      background-image: url("../img/background/snake-gray-desktop.svg");
    }
  }
}

.about-us__header {
  box-sizing: border-box;
  width: calc(@mobile-width - 60px);
  margin: 0 auto;
  margin-bottom: -1px;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
  text-align: left;
}

.about-us__advantages-wrapper {
  width: calc(@mobile-width - 60px);
  margin: 0 auto;
  margin-bottom: 58px;
}


.about-us__feedback-wrapper {
  margin: 0;
}

@media (min-width: @tablet-width) {
  .about-us {
    padding: 56px 50px 84px;
  }

  .about-us__header {
    width: calc(@tablet-width - 100px);
    font-size: 43px;
    line-height: 50px;
  }

  .about-us__advantages-wrapper {
    width: calc(@tablet-width - 100px);
    margin-bottom: 82px;
  }
}

@media (min-width: @desktop-width) {
  .about-us {
    padding: 68px 50px 90px;
  }

  .about-us__header {
    width: calc(@desktop-width - 100px);
    padding-left: 175px;
    font-size: 53px;
    line-height: 57px;
  }

  .about-us__advantages-wrapper {
    width: calc(@desktop-width - 100px);
    margin-bottom: 88px;
  }
}
