.best-deal {
  position: relative;
  padding: 31px 30px 42px;
  font-family: "Open Sans", "Arial", sans-serif;
  width: calc(@mobile-width - 60px);
  margin: 0 auto;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: calc(-1 / 2 * (100vw - @mobile-width));
    z-index: 1;
    width: 100vw;
    height: 6px;
    background-image: url("../img/background/snake-gray-mobile.svg");
    background-repeat: repeat-x;
  }
}

.best-deal__header {
  margin: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
  grid-area: best-deal__header;
}

.best-deal__status {
  margin: 0;
  margin-bottom: 16.5px;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: #63d1bb;
  text-transform: uppercase;
  grid-area: best-deal__status;
}

.best-deal__description {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #444444;
  grid-area: best-deal__description;
}

.best-deal__description-list {
  margin: 0;
  margin-bottom: 28px;
  grid-area: best-deal__description-list;
}


.best-deal__description-item {
  position: relative;
  padding: 8px 0 12px;
  display: grid;
  grid-template-columns: minmax(97px, max-content) minmax(162px, max-content);

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 1px;
    background-color: #ececec;
  }
}

.best-deal__description-term {
  margin: 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #444444;
}

.best-deal__description-definition {
  margin: 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #444444;
  text-align: left;
}

.best-deal__image-wrapper {
  box-sizing: border-box;
  display: block;
  margin-bottom: 28px;
  grid-area: best-deal__image;
}

.best-deal__image {
  display: block;
  margin: 0;
}

.best-deal__price {
  display: block;
  margin: 0;
  margin-left: -2px;
  padding-bottom: 24.5px;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #444444;
  text-align: center;
  grid-area: best-deal__price;
}

.best-deal__button {
  grid-area: best-deal__button;
}

@media (min-width: @tablet-width) {
  .best-deal {
    position: relative;
    padding: 38px 50px 68px;
    display: grid;
    grid-template-areas: "best-deal__header best-deal__header best-deal__status"
      "best-deal__description best-deal__image best-deal__image"
      "best-deal__description-list best-deal__image best-deal__image"
      "best-deal__price best-deal__image best-deal__image"
      "best-deal__button best-deal__image best-deal__image";
    grid-template-columns: minmax(292px, 64%) minmax(167px, 36%) 126px;
    grid-template-rows: minmax(54px, max-content) minmax(90px, max-content) minmax(120px, max-content) minmax(24px, max-content) minmax(52px, max-content);
    column-gap: 42px;
    row-gap: 33px;
    align-items: start;
    width: calc(@tablet-width - 100px);
    margin: 0 auto;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      z-index: 1;
      left: calc((-1 / 2 * (100vw - @tablet-width)) - 7px);
      width: calc(100vw + 7px);
      height: 17px;
      background-image: url("../img/background/snake-gray-tablet.svg");
      background-repeat: repeat-x;
    }
  }

  .best-deal__header {
    font-size: 43px;
    line-height: 50px;
  }

  .best-deal__status {
    line-height: 17px;
    text-align: center;
    padding: 6px 5px 10px 2px;
    margin: 0;
  }

  .best-deal__description {
    font-size: 17px;
    line-height: 30px;
    margin: 0;
  }

  .best-deal__description-list {
    margin: 7px 0 11px;
  }

  .best-deal__price {
    font-size: 20px;
    line-height: 24px;
    padding: 0;
    margin-left: -4px;
    margin-top: 15px;
  }

  .best-deal__image-wrapper {
    padding-top: 12px;
    margin: 0;
  }

  .best-deal__image {
    min-height: 404px;
    min-width: 334px;
  }
}

@media (min-width: @desktop-width) {
  .best-deal {
    position: relative;
    margin: 0 auto;
    margin-bottom: 45px;
    padding: 49px 50px 49px;
    display: grid;
    grid-template-areas: "best-deal__status best-deal__header best-deal__image"
      ". best-deal__description best-deal__image"
      ". best-deal__description-list best-deal__image"
      ". best-deal__price best-deal__image"
      ". best-deal__button best-deal__image";
    grid-template-columns: 133px minmax(292px, 27.8%) minmax(541px, 52%);
    grid-template-rows: minmax(118px, max-content) minmax(100px, max-content) minmax(210px, max-content) minmax(24px, max-content) minmax(52px, max-content);
    column-gap: 42px;
    row-gap: 33px;
    align-items: start;
    width: calc(@desktop-width - 100px);

    &::after {
      content: "";
      position: absolute;
      bottom: -45px;
      z-index: 1;
      width: @desktop-width;
      left: 0;
      right: 0;
      margin: 0 auto;
      height: 23px;
      background-image: url("../img/background/snake-gray-desktop.svg");
      background-repeat: repeat-x;
    }
  }

  .best-deal__status {
    text-align: center;
    padding: 69px 1px 17px 32px;
  }

  .best-deal__header {
    grid-area: 2/4/1/2;
    z-index: 1;
    align-self: end;
    font-size: 53px;
    line-height: 57px;
    margin: 0;
  }

  .best-deal__description {
    margin-top: 2px;
    font-size: 17px;
    line-height: 30px;
  }

  .best-deal__description-list {
    margin: 0;
    margin-top: 14px;
  }

  .best-deal__description-item {
    padding: 5px 0 14px;
  }

  .best-deal__description-definition {
    margin-left: 1px;
  }

  .best-deal__image-wrapper {
    margin: 0;
    padding: 0;
    padding-left: 16px;
  }

  .best-deal__image {
    min-height: 636px;
    min-width: 525px;
  }

  .best-deal__price {
    margin: 0;
  }
}
