.categories-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.categories-list__item {
  background-color: #63d1bb;
}

.categories-list__item--kids {
  background-color: #56c3b2;
}

.categories-list__link {
  display: block;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: 24px 160px 31px 30px;
  text-decoration: none;
  color: #ffffff;
}

.categories-list__description {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
}
