.checkbox-group {
  font-family: "Open Sans", "Arial", sans-serif;
  margin: 0;
  padding: 0;
  border: none;
  border-top: 1px solid #62d1ba;
}

.checkbox-group__title {
  display: inline-block;
  min-width: 60px;
  padding: 0;
  font-weight: 700;
  font-size: 17px;
  line-height: 17px;
  color: #62d1bb;
  text-transform: uppercase;
}

.checkbox-group__list {
  margin: 0;
  margin-top: 25px;
  margin-bottom: 33px;
  padding: 0;
  list-style: none;
}

.checkbox-group__item + .checkbox-group__item {
  margin-top: 23px;
}

@media (min-width: @tablet-width) {
  .checkbox-group {
    margin: 0 -50px;
    padding: 0 50px;
    background-color: #f1f1f1;
    border-top: none;
    display: grid;
    grid-template-columns: 147px 1fr;
    column-gap: 20px;
  }

  .checkbox-group__title {
    float: left;
    padding-top: 66px;
    width: 100%;
  }

  .checkbox-group__list {
    display: grid;
    margin-top: 50px;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 24px;
  }

  .checkbox-group__item + .checkbox-group__item {
    margin-top: 0;
  }
}

@media (min-width: @desktop-width) {
  .checkbox-group {
    grid-template-columns: 154px 1fr;
  }

  .checkbox-group__title {
    padding-left: 46px;
    padding-top: 67px;

  }

  .checkbox-group__list {
    margin-top: 48px;
    grid-template-columns: 1fr 1fr 1fr;
  }

}
