.contacts {
  font-family: "Open Sans", "Arial", sans-serif;
  margin: 0;
  padding: 38px 0 39px 0;
}

.contacts__container {
  padding: 0 30px;
  margin-bottom: 62px;
}

.contacts__header {
  margin: 0;
  margin-bottom: 28px;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
}

.contacts__list {
  margin: 15px 0;
}

.contacts__item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 30px;
}

.contacts__term {
  margin: 0;
  padding: 0;
  min-width: 56px;
  padding-right: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #444444;
}

.contacts__definition {
  margin: 0;
  padding: 0;
  min-width: 170px;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #444444;
}

.contacts__phone-link {
  position: relative;
  color: inherit;
  text-decoration: none;

  &::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 1px;
    background-color: #62d1ba;

    @media (min-width: @desktop-width) {
      bottom: -8px;
    }
  }
}

.contacts__phone-link:hover {
  color: #46c1ae;

  &::after {
    background-color: #46c1ae;
  }
}

.contacts__phone-link:active {
  color: #46c1ae;

  &::after {
    background-color: rgba(70, 193, 174, 0.1);
  }
}

.contacts__button {
  margin: 42px 30px 0;
}

@media (min-width: @tablet-width) {
  .contacts {
    padding: 39px 0;
  }

  .contacts__container {
    padding: 0 50px;
    margin-bottom: 17px;
  }

  .contacts__header {
    padding: 29px 80px 15px 0;
    margin-bottom: 36px;
    font-size: 43px;
    line-height: 50px;
  }

  .contacts__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: 2px;
  }

  .contacts__term {
    font-size: 17px;
    padding-right: 22px;
  }

  .contacts__definition {
    font-size: 17px;
  }

  .contacts__button {
    margin: 55px auto 18px;
    max-width: 230px;
    padding: 15px 22px 13px 20px;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    width: @desktop-width;
    margin: 0 auto;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 49.81% 50.19%;
    grid-template-areas: "contacts__container contacts__map-container"
      "contacts__button contacts__map-container";
    padding: 71px 50px 105px;
  }

  .contacts__container {
    grid-area: contacts__container;
    padding-left: 174px;
    padding-top: 51px;
    margin: 0;
  }

  .contacts__list {
    display: block;
  }

  .contacts__header {
    margin-bottom: 20px;
    font-size: 53px;
    line-height: 57px;
  }

  .contacts__map-container {
    grid-area: contacts__map-container;
  }

  .contacts__term {
    font-size: 17px;
  }

  .contacts__definition {
    font-size: 17px;
  }

  .contacts__button {
    align-self: end;
    justify-self: start;
    padding: 16px 27px 12px;
    margin: 0;
    margin-left: 175px;
    width: 230px;
    grid-area: contacts__button;
  }
}
