.custom-order {
  font-family: "Open Sans", "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

.custom-order__wrapper--confirmation {
  margin: 0 auto;
  width: calc(@mobile-width - 60px);
}

.custom-order__notice {
  margin: 0;
  padding-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #444444;
}

.custom-order__button {
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 20px;
  min-width: 260px;
  padding: 16px 16px 14px;
  font-size: 17px;
  line-height: 18px;
}

@media (min-width: @tablet-width) {
  .custom-order__wrapper--secondary {
    background-color: #f1f1f1;
  }

  .custom-order__wrapper--confirmation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: calc(@tablet-width - 100px);
  }

  .custom-order__button {
    display: inline-block;
    min-width: 230px;
    align-self: flex-start;
    padding: 16px 16px 14px;
    margin: 0;
  }

  .custom-order__notice {
    display: inline-block;
    max-width: 330px;
    margin: 0;
    order: 1;
    font-size: 17px;
    line-height: 30px;
    align-self: flex-end;
    padding-bottom: 10px;
  }
}

@media (min-width: @desktop-width) {
  .custom-order__wrapper--confirmation {
    width: calc(@desktop-width - (225px * 2));
  }
}
