.feedback {
  font-family: "Open Sans", "Arial", sans-serif;
  margin: 0;
}

.feedback__header {
  margin: 0;
  padding-bottom: 14px;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
}

.feedback__item {
  margin: 0;
}

.feedback__text {
  margin: 0;
  padding-bottom: 14px;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
}

.feedback__author {
  display: block;
  padding: 19px 0 15px;
}

.feedback__author-name {
  margin: 0;
  padding: 7px 0;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  font-style: normal;
}

.feedback__author-link {
  margin: 0;
  padding-bottom: 15px;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  color: #444444;
  font-style: normal;
}

.feedback__slider-toggle {
  display: inline-block;
  box-sizing: content-box;
  appearance: none;
  margin: 0;
  min-width: 50px;
  min-height: 26px;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #ececec;
  border-radius: 0;
  cursor: pointer;
}

.feedback-controls-wrapper {
  display: flex;
  padding-bottom: 38px;
}

.feedback__slider-toggle--left {
  background-image: url("../img/background/huge-arrow-left.png");
  padding: 12px 41px 12px 37px;
}

.feedback__slider-toggle--right {
  background-image: url("../img/background/huge-arrow-right.png");
  padding: 12px 41px 12px 37px;
}
