.main-intro__wrapper {
  background-image: url("../img/background/main-intro-background.jpg");
  background-repeat: no-repeat;
  background-clip: border-box;
  background-position: 50% -5%;
  background-color: #fafafa;
  box-sizing: border-box;
  min-height: 283px;
  padding: 73px 30px;
}

.main-intro__main-header {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;

  text-align: center;

  color: #000000;
}

@media (min-width: @tablet-width) {
  .main-intro {
    min-height: 692px;
    position: relative;
  }

  .main-intro__wrapper {
    min-height: 561px;
  }

  .main-intro__main-header {
    font-size: 43px;
    line-height: 50px;
  }

  .main-intro__categories-nav {
    position: relative;
  }
}

@media (min-width: @desktop-width) {
  .main-intro {
    min-height: 699px;
  }

  .main-intro__wrapper {
    min-height: 563px;
  }

  .main-intro__main-header {
    font-size: 53px;
    line-height: 57px;
  }
}
