.main-intro__wrapper {
  background-image: url("../img/background/main-intro-background.jpg");
  background-repeat: no-repeat;
  background-clip: border-box;
  background-position: 50% -5%;
  background-color: #fafafa;
  box-sizing: border-box;
  min-height: 283px;
  padding: 73px 30px;
}

.main-intro__main-header {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;

  text-align: center;

  color: #000000;
}
