.main-header__top-header {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 22px 30px;
  box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;
}

.main-header__logo-link {
  display: inline-block;
  margin: 0 auto;
}

.main-header__toggle {
  margin: auto 0 auto -40px;
  display: block;
  min-width: 40px;
  min-height: 40px;
  background-color: inherit;
  background-image: url("../img/icons/icon-burger-menu.png");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
}

.main-header__shipping-info {
  display: none;
}

