.order {
  font-family: "Open Sans", "Arial", sans-serif;
  padding: 17px 30px 0;
}

.order__description {
  padding-bottom: 29px;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #444444;
}
