.phone-control {
  position: relative;
  font-family: "Open Sans", "Arial", sans-serif;
  margin: 0;
}

.phone-control__field {
  padding: 0;
  padding-bottom: 2px;
  display: inline-block;
  box-sizing: border-box;
  min-width: 260px;
  width: 100%;
  min-height: 52px;
  border: none;
  border-bottom: solid 2px #000000;
  font-weight: 400;
  font-size: 19px;
  line-height: 20px;
  color: #444444;
  background: transparent;
}

.phone-control__field:hover,
.phone-control__field:active,
.phone-control__field:focus,
.phone-control__field:focus-visible {
  outline: none;
  border-bottom: solid 2px #62d1ba;
}

.phone-control__field:not(:placeholder-shown):not(:focus):invalid {
  outline: none;
  border-bottom: solid 2px #ff0000;
}

.phone-control__field::placeholder {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
}

.phone-control__icon {
  position: absolute;
  bottom: 0;
  right: 7px;
  z-index: 1;
  width: 25px;
  height: 24px;
  fill: rgba(0, 0, 0, 0.2);
}


.phone-control__field:hover + .phone-control__icon,
.phone-control__field:focus + .phone-control__icon,
.phone-control__field:focus-visible + .phone-control__icon,
.phone-control__field:active + .phone-control__icon  {
  fill: #62d1ba;
}

@media (min-width: @tablet-width) {
  .phone-control__field {
    padding: 0 0 1px 17px;
  }

  .phone-control__field::placeholder {
    font-size: 19px;
    line-height: 19px;
  }

  .phone-control__icon {
    right: 26px;
  }
}

@media (min-width: @desktop-width) {
  .phone-control__icon {
    right: 8px;
  }
}
