.phone-group {
  box-sizing: border-box;
  font-family: "Open Sans", "Arial", sans-serif;
  margin: 0 auto;
  padding: 0;
  border: none;
  border-top: 1px solid #62d1ba;
  width: calc(@mobile-width - 60px);
}

.phone-group__title {
  display: inline-block;
  min-width: 60px;
  padding: 0;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: #62d1bb;
  text-transform: uppercase;
}

.phone-group__list {
  margin: 0;
  margin-top: 2.5px;
  margin-bottom: 34.5px;
  padding: 0;
  list-style: none;
}

.phone-group__item + .phone-group__item {
  margin-top: 21.85px;
}

@media (min-width: @tablet-width) {
  .phone-group {
    border-top: none;
    display: grid;
    grid-template-columns: 147px 1fr;
    grid-template-areas: "group__title group__list";
    column-gap: 20px;
    width: calc(@tablet-width - 100px);
  }

  .phone-group__title {
    grid-area: group__title;
    float: left;
    padding-top: 66px;
    width: 100%;
  }

  .phone-group__list {
    grid-area: group__list;
    margin-top: 50px;
    margin-bottom: 24.5px;
  }

  .phone-group__item + .text-group__item {
    margin-top: 24px;
  }
}

@media (min-width: @desktop-width) {
  .phone-group {
    grid-template-columns: 155px 1fr;
    width: calc(@desktop-width - 100px);
  }

  .phone-group__title {
    padding-left: 61.5px;
    padding-top: 66px;
  }

  .phone-group__item {
    margin-right: 175px;
  }
}
