.production-video {
  position: relative;
  min-width: 260px;
  min-height: 150px;
  background-image: url("../img/background/video-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.production-video__button {
  position: absolute;
  z-index: 1;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
