.production-process {
  width: calc(@mobile-width - 60px);
  position: relative;
  box-sizing: border-box;
  margin: 30px auto 58px;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  border: 1px solid #ececec;
}

.production-process:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}

.production-process:active {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.production-process__header-wrapper {
  position: relative;
  padding: 20.5px 13px 26.5px 90px;
}

.production-process__header {
  display: block;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;

  &::before {
    content: "";
    position: absolute;
    top: 35px;
    left: 34px;
    z-index: 1;
    width: 32px;
    height: 22px;
    background-image: url("../img/icons/icon-camera.svg");
    background-repeat: repeat-x;

    @media (min-width: @tablet-width) {
      top: 39px;
      left: 42px;
    }

    @media (min-width: @desktop-width) {
      top: 45px;
      left: 0;
    }
  }
}

.production-process__video-wrapper {
  margin-bottom: 35px;
}

.production-process__description {
  margin: 0;
  margin-bottom: 41px;
  padding-left: 33px;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #444444;
}

.production-process__button-wrapper {
  margin: 33px 34px;
}

.production-process__button {
  padding: 14px;
}

@media (min-width: @tablet-width) {
  .production-process {
    width: calc(@tablet-width - 100px);
    display: flex;
    flex-direction: column;
    border: none;
    margin: 50px auto 64px;
  }

  .production-process__video-wrapper {
    order: -1;
    margin: 0;
    min-height: 455px;
    min-width: 668px;
  }

  .production-process__header-wrapper {
    border: 1px solid #ececec;
    border-bottom: none;
    margin: 0 0 0 -1px;
    padding: 41px 13px 23.5px 107px;
  }

  .production-process__header {
    font-size: 20px;
  }

  .production-process__description-wrapper {
    border: 1px solid #ececec;
    border-top: none;
    border-bottom: none;
    margin: 0 0 0 -1px;
    padding-left: 40px;
    padding-right: 17px;
    padding-bottom: 25.5px;
  }

  .production-process__description {
    margin: 0 15px 15px 0;
    padding: 0;
    font-size: 15px;
    line-height: 30px;
  }

  .production-process__button-wrapper {
    border: 1px solid #ececec;
    border-top: none;
    margin: 0 0 0 -1px;
    padding: 0 42px 46px;
  }

  .production-process__button {
    padding: 15px 20px 13px;
  }
}


@media (min-width: @desktop-width) {
  .production-process {
    width: calc(@desktop-width - 100px);
    display: grid;
    align-items: start;
    grid-template-columns: minmax(682.65px, max-content) minmax(288px, max-content);
    grid-template-rows: minmax(154px, max-content) minmax(150px, max-content) minmax(112px, max-content);
    row-gap: 15px;
    column-gap: 78px;
    grid-template-areas: "production-process__video-wrapper production-process__header-wrapper"
      "production-process__video-wrapper production-process__description-wrapper"
      "production-process__video-wrapper production-process__button-wrapper";
    border: 1px solid #ececec;
    margin: 50px auto 104px;
  }

  .production-process__video-wrapper {
    grid-area: production-process__video-wrapper;
    margin: -1px;
    margin-right: 0;
    min-height: 455px;
    min-width: 682.65px;
  }

  .production-process__header-wrapper {
    grid-area: production-process__header-wrapper;
    border: none;
    margin: 0;
    max-width: 239px;
    padding: 96px 0 10px;
  }

  .production-process__description-wrapper {
    grid-area: production-process__description-wrapper;
    border: none;
    margin: 0;
    padding: 0 0 20px 0;
  }

  .production-process__button-wrapper {
    grid-area: production-process__button-wrapper;
    border: none;
    padding: 0;
    margin: 0 57px 58px 0;
  }

  .production-process__button {
    padding: 15px 20px;
  }
}
