.product-card {
  position: relative;
  font-family: "Open Sans", "Arial", sans-serif;
  margin: 0;
}

.product-card__link {
  text-decoration: none;
  color: inherit;
}

.product-card__image {
  display: block;
  background-color: #f1f1f1;
}

.product-card__info {
  padding: 27px 26px 16.5px 28px;
  box-sizing: border-box;

  border: 1px solid #ececec;
}

.product-card__title {
  margin: 0;
  margin-bottom: 6px;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
}

.product-card__dimensions {
  margin: 0;
  margin-bottom: 17.5px;
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  color: #444444;
}

.product-card__price {
  box-sizing: border-box;
  border-top: 1px solid #ececec;
  margin: 0;
  margin-bottom: 10px;
  padding: 23px 30px 0 0;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: #000000;
}

.product-card__cart-link {
  position: absolute;
  z-index: 1;
  display: block;
  width: 20px;
  height: 19px;
  bottom: 32px;
  right: 27px;
  background-image: url("../img/icons/icon-catalog-cart.png");
  background-repeat: no-repeat;
}

@media (min-width: @tablet-width) {
  .product-card__link {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 334px;
  }

  .product-card__image {
    width: 334px;
    height: 334px;
  }

  .product-card__info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

  }

  .product-card__price {
    margin: 0;
    margin-top: auto;
  }

}

@media (min-width: @desktop-width) {
  .product-card {
    display: inline-block;
    width: 316px;
  }

  .product-card__link {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 659px;
  }


  .product-card__image {
    width: 316px;
    height: 462px;
  }

  .product-card__info {
    min-height: 197px;
    margin: 0;
    margin-top: auto;
  }

  .product-card__cart-link {
    bottom: 30px;
    right: 27px;
  }
}
