.production-process {
  position: relative;
  box-sizing: border-box;
  margin: 30px 30px 58px;
  padding: 21.5px 0 0;
  font-family: "Open Sans", "Arial", sans-serif;
  border: 1px solid #ececec;
}

.production-process__header {
  display: inline-block;
  margin: 0;
  padding: 0 13px 26.5px 91px;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  &::before {
    content: "";
    position: absolute;
    top: 35px;
    left: 34px;
    z-index: 1;
    width: 32px;
    height: 22px;
    background-image: url("../img/icons/icon-camera.png");
    background-repeat: repeat-x;
  }
}

.production-process__video-wrapper {
  margin-bottom: 35px;
}

.production-process__description {
  margin: 0;
  margin-bottom: 41px;
  padding-left: 34px;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #444444;
}

.production-process__button {
  margin: 33px 34px;
}
