.site-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-list__item {
  box-sizing: border-box;
  min-height: 79px;
  box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;
}

.site-list__link {
  position: relative;
  display: inline-block;
  padding: 28.5px 30px 26.5px 76px;
  text-decoration: none;
  color: #000000;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  word-wrap: break-word;
}

@media (min-width: @tablet-width) {
  .site-list {
    display: grid;
    grid-template-columns: minmax(min-content, max-content) minmax(min-content, max-content);
    align-content: flex-start;
  }

  .site-list__item {
    min-height: 66px;
    box-shadow: none;
  }

  .site-list__link {
    padding: 22px 36px 20px 0;
    font-size: 15px;
  }
}

@media (min-width: @desktop-width) {
  .site-list__link {
    padding: 32.5px 35px 20px;
    font-size: 17px;
  }

  .site-list__item + .site-list__item {
    border-left: solid 1px #0000001a;
  }

  .site-list__item:nth-of-type(2n+1) {
    border-left: none;
  }
}
