.social__list {
  box-sizing: border-box;
  padding: 25px 25px 28px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 142px;
  min-height: 27px;
  margin: 0 auto;
  border-bottom: 1px solid #e5e5e5;
}

.social__item {
  margin-right: 15.5px;
  margin-left: 15.5px;
}

.social__icon {
  display: block;
  fill: #231f20;
}
