.social__list {
  box-sizing: border-box;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 142px;
  min-height: 27px;
  margin: 0;
}

.social__item {
  margin-right: 15.5px;
  margin-left: 15.5px;
}

.social__icon {
  display: block;
  fill: #231f20;
}

@media (max-width: @mobile-width-only) {
  .social__list {
    padding: 25px 25px 28px;
    border-bottom: 1px solid #e5e5e5;
  }
}
