.user-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-list__item {
  box-sizing: border-box;
  min-height: 79px;
  box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;
}

.user-list__link {
  display: flex;
  padding: 28.5px 30px 26.5px;
  text-decoration: none;
  color: #000000;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.user-list__icon {
  min-width: 18px;
  min-height: 18px;
  display: block;
  fill: #00000033;
  margin-right: 25px;
}

.user-list__icon--search {
  margin-left: 2px;
}

.user-list__status {
  display: inline-block;
  word-wrap: break-word;
}

@media (min-width: @tablet-width) {
  .user-list {
    display: grid;
    grid-auto-flow: row dense;
    grid-template-columns: minmax(min-content, max-content) minmax(min-content, max-content);
    align-content: flex-start;
  }

  .user-list__item {
    box-shadow: none;
    max-width: 270px;
    border-left: solid 1px #0000001a;
  }

  .user-list__link {
    display: flex;
    padding: 32px 31px 31px;
    font-size: 15px;
    line-height: 24px;
  }

  .user-list__icon--search {
    margin: 0;
  }

  .user-list__status--search {
    .visually-hidden;
  }
}
